.grid-container{
    display: inline-grid;
    grid-template-columns: 100px 100px 100px;
    background-color: lightgoldenrodyellow;
}


.cell{
    height: 100px;
    width: 100px;
    display: grid;
    justify-content: center;
    align-items: center;  
}

.border-bottom{
    border-bottom: 2px solid lightblue;
}

.border-left{
    border-left: 2px solid lightblue;
}
