.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;

}

.cell{
    height: 100px;
    width: 100px;
    display: grid;
    justify-content: center;
    align-items: center;  
    background-color: lightgoldenrodyellow;
}

.border-bottom{
    border-bottom: 2px solid lightblue;
}

.border-left{
    border-left: 2px solid lightblue;
}

.display{
    height: 50px;
    width: 300px;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}